* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    /* outline: 1px solid brown; */
}



header {
    background-color: #1F2937;
    color: #fff;
}

.width{
    width: 80%;
    margin: auto;
    /* outline: 1px solid y ellow; */
}

.logolink{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 12px;
    /* border-color: blue; */
    /* border-style: solid; */

    

}

.logolink > * {
    /* background-color: red; */
    
}

#headlogo{
    margin-right: auto;
    /* background-color: green; */
    color: #F9FAF8;
    font-size: 24px;
    
}

li{
    display: flex;
    align-items: flex-end;
}


main {
    background-color: #1F2937;
    color: #fff;
    /* border-style: solid; */
    /* border-color: purple; */
}

main .width{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.mainsec {
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
    /* border-style: solid; */
    /* border-color: red; */
}

.mainimg {
    margin: 50px 0px;
    /* border-style: solid;
    border-color: blue; */
    display: flex;

}

.mainimg > * {
    flex: 1 ;
}

.heromain{
    font-size: 48px;
    font-weight: bolder;
}

.herosec{
    font-size: 18px;
    color: #E5E7EB;
}

nav{
    background-color: #3882F6;
    align-self: flex-start;
    padding: 5px 20px;
    border-radius: 10px;

}

.infohead{
    font-size: 36px;
    text-align:center;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 2rem;

}

.boxof8{
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 2rem 200px;
    gap: 1rem;
    row-gap: 0px;

}

.boxof8 > *{
    font-size: smaller;
    
}

.box {
    border-style: solid;
    border-radius: 10px;
    border-color: aqua;
}

img {max-width: 100%}


footer{
    background-color: #1F2937;
    color: #fff;
    text-align: center;
}

.quoteback {
    background-color: #E5E7EB;
    padding: 4rem;
}

.quote{
    font-size: 36px;
    font-weight: lighter;
}

.thor {
    text-align: right;
    font-size: 18px;
}

.calltext{
    /* outline: 1px solid red; */
    margin-right: auto;
}

.call1{
    font-size: 24px;
    /* outline: 1px solid red; */
}

aside {
    display: flex;
    background-color: #3882F6;
    padding: 25px 50px;
    border-radius: 10px;
    color: #fff;
    margin: 4rem 4rem;
}

.callbutton {
    align-self: center;
    outline: 2px solid white;
    padding: 5px 20px;
    border-radius: 10px;
}

